<div class="container">
  <h1 class="title text-center">NEW GAME</h1>
  <div class="col-xs-12">
    <div class="grid">
    <% @letters.each do |letter| %>
    <span class="letter"><%= letter %></span>
    <%= hidden_field_tag :start_time, Time.now %>
  <% end  %>
</div>
  </div>
</div>
<div class="container">
  <div class="col-xs-12">
    <form action="/score" method="get">
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
      <div class="form-group">
        <label for="word">word?</label>
        <input type="text" name="word" class="form-control">
        <%= hidden_field_tag :letters, @letters %>
      </div>
        <%= hidden_field_tag :end_time, Time.now %>
      <input type="submit" value="Submit Word" class="btn btn-primary">
    </form>
  </div>
</div>
